/* Estamos trayendo otro css */
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
/* Estamos trayendo una fuente */
@import url('https://fonts.googleapis.com/css2?family=Playwrite+CU:wght@100..400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');



/* Normalizacion */
/* @import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap'); */
*{  /*    usar casi siempre----- general      */
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;  /*se saca de google fonts y se pega aca en */
}

h1{
    
    font-family: "DM Sans", sans-serif;
}

.padre{
    background-color: green;
   /*  height: 100vh; */ /* Viewport height */ /* altura*/
    /* width: 100vw; */ /* Viewport width */   /*ancho*/
    max-width: calc(200px * 4 + 20px * 3);
    display: flex;/*                      Esta propiedad activa flexbox */
    flex-direction: row;
   /*  gap: 20px; */    /* espaciado entre cada hijo*/
    row-gap: 80px;
    column-gap: 20px;
    /* align-items: center; */   /*centra segun su eje*/
    justify-content: center;   /*mueve los elementos  en el eje x*/
    flex-wrap: wrap;
    /* padding: 0 170px; */
}

/* 
tengo 4 hijos, cada uno mide 200: 
800px 

tengo 3 gaps, cada uno mide 20:
60px

Cuanto padding tengo que darle al padre para que siempre hayan 5 hijos?
1200px-860px= 340px / 2 = padding-al-costado
*/
.hijo{
    width: 200px;
    height: 300px;
    border: yellow solid 1px;
    border-radius: 10px;
    background-color: white;
}

.hijo:nth-child(1){               /*pseuda clase de hijos para llamarlo segun su posicion*/
    background-color: rgb(61, 234, 124);
}

.hijo:nth-child(2){             /*pseuda clase de hijos para llamarlo segun su posicion*/
    background-color: red;
}

.hijo:nth-child(3){             /*pseuda clase de hijos para llamarlo segun su posicion*/
    background-color: rgb(41, 44, 215);
}

.bi-star-fill{
    color: red;
    font-size: 24px;
}